/* src/Header.css */

.header {
    background-color: #234277; /* Cor do cabeçalho */
    color: white; /* Cor do texto */
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
